body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    text-align: center;
    margin: 150px auto 0px auto;

}

p {
    text-align: center;
    font-weight: 600;
}

img {
    display: flex;
    margin: 100px auto;
}